[submodule "tools/add_geotag_to_dji_drone_video/container/DJI_SRT_Parser"]
	path = tools/add_geotag_to_dji_drone_video/container/DJI_SRT_Parser
	url = https://github.com/JuanIrache/DJI_SRT_Parser.git
